
#welcome-section {
    height: 90vh;
    width: 89.5vw;
    color: var(--font-primary-color);
    padding: 5vw;

    font-size: 1rem;
    text-wrap: pretty;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}
/* 
#intro {
    height: 100%;
} */

.hello {
    color: yellow;
    font-family: "Playwrite AR", cursive;
}

#name {
    font-size: 2rem;
}

#name span {
    transition: all 0.5s;
}

#name span:hover {
    font-weight: bolder;
    color: var(--font-highlight-color);
}

#brief {
    font-size: 1.5rem;
    color: var(--font-secondary-color);
}

#summary {
    color: var(--font-secondary-color);
}

#contact {
    display: flex;
}

#contact_icons {
    display: flex;
    justify-content: space-evenly;
}

#resume_btn {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0 .4rem;
    border: 1px solid var(--font-primary-color);
    background-color: var(--font-primary-color);
    color: black;
    font-weight: bolder;
    border-radius: 20px;
}