.contact_icon {
    border: 1px solid var(--font-primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4cqi;
    margin-right: 1.1cqi;
}