.website_logo {
    font-size: var(--type-logo, 2.2rem);
    font-weight: 1000;
    font-family: var(--logo-font-style);
    color: var(--font-highlight-color);
    transition: font-size 0.3s ease;
}

@media (max-width: 1000px) {
    .website_logo {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .website_logo {
        font-size: 1.5rem;
    }
}

@container site (max-width: 480px) {
    .website_logo {
        font-size: 1.5rem;
    }
}

.highlight_text {
    color: var(--font-primary-color);
}