/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

@font-face {
  font-family: 'Carpenter';
  src: url('../src/assets/fonts/Carpenter/Carpenter-Regular.eot');
  src: local('Carpenter Regular'), local('Carpenter-Regular'),
      url('../src/assets/fonts/Carpenter/Carpenter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Carpenter/Carpenter-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/Carpenter/Carpenter-Regular.woff') format('woff'),
      url('../src/assets/fonts/Carpenter/Carpenter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  
  --primary-color: #00abf0;
  --secondary-color: #00acf0b4;
  --bg-color: #081b29;

  --font-primary-color: var(--primary-color);
  --font-secondary-color: var(--secondary-color);
  --font-highlight-color: #FFF5EE;
  --font-style: "Montserrat", sans-serif;
  --logo-font-style: "Pacifico";
  --special-font-style: "Carpenter";
}

body {
  margin: 0;
  font-family: var(--font-style);
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 0.3vw;
  height: 0.3vh;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  transition: all 1.1s;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  transform: scale(1.1);
}

.highlight {
  color: var(--font-highlight-color);
}

/* related to tabs styling */

.react-tabs__tab-list {
  margin: 10px;
  padding: 10px 0;
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 3px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: lighter;
  transition: all 0.15s;
}

.react-tabs__tab:hover {
  transform: translateY(-10%);
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab--selected {
  border-radius: 7rem;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1) inset;
  font-weight: normal;
  font-size: x-large;
  font-weight: bold;
  border: 2px solid var(--font-primary-color);
}

.react-tabs__tab--disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: line-through;
}