
#heading {
    margin: 3rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 2rem;
    color: var(--font-secondary-color);
    font-family: "Archivo", sans-serif;
}